.searchPage{
    margin:0 80px;
    flex:0.8;

  
}

.searchPage__filter{
    display: flex;
    align-items: space-between;
    color:#6d6868;
    font-size:xx-small !important;
}

.searchPage__filter>h2{
    margin-left: 10px;
}

.searchPage > hr{
    height: 1px;
    border:none;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;

}